:root {
    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400; 
    background-color: var(--color-slate-300);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    width: 320px;
    height: 499px;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
}